.item-container {
  display: flex;
  gap: 40px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: 1px solid rgb(236, 232, 232);
  border-radius: 15px;
  min-height: 300px;
}

.item-bottom-area {
  display: flex;
  justify-content: space-between;
}

.word-area {
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
  transition: opacity 1s ease-in-out;
}

.modal-button {
  cursor: pointer;
  text-decoration: none;
  color: white;

  width: 40%;
  height: 40px;

  background-color: #323131;
  border: 1px solid white;
  border-radius: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-button:active {
  border: 1px solid grey;
  color: grey;
}

.skip-button {
  cursor: pointer;
  background-color: #323131;
  color: white;
  border: 1px solid white;
  border-radius: 50px;

  width: 40%;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.skip-button:active {
  border: 1px solid grey;
  color: grey;
  font-weight: bold;
}
