.container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 10px;
    
    min-width: 230px;
    margin: 70px 0;
    padding: 35px 25px;
    font-size: 18px;
    border: 1px solid white;
    border-radius: 50px;
    width: 27%;
    overflow-y: auto;
    line-height: 0.99;
}

.container::-webkit-scrollbar {
    width: 0;
  }

/* .link {
    .link {

} */