.searchResultsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 70%;
    margin: 10px 0 0;
    padding: 15px 20px;
    overflow-y: auto;
    font-size: 18px;
    line-height: 0.99;
    border: 1px solid white;
    border-radius: 10px;
}

.searchResultsContainer::-webkit-scrollbar{
    width: 0;
}