/* stylelint-disable no-duplicate-selectors */

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
}

.phraseZone {
  color: white;
  font-weight: bold;
  font-size: 26px;
  text-align: center;
}

.buttonsZone {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.twoButtons {
  display: flex;
  gap: 5px;
}

.button {
  display: flex;
  justify-content: center;
  min-width:82px;
  min-height: 25px;
  padding: 3px 20px;
  color: white;
  font-size: 21px;
  text-align: center;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 15px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.button:disabled {
  color: rgb(71 70 70);    
  background-color: #323131;
  border: 1px solid rgb(71 70 70);
}

iframe {
  width: 257px;
}


.loader {
  margin: 0 auto;
  border: 2px solid white;
  border-left-color: transparent;
  border-radius: 50%;
}

.loader {
  width: 16px;
  height: 16px;
  margin: 0 auto;
  border: 2px solid white;
  border-left-color: transparent;
}

.loader {
  width: 16px;
  height: 16px;
  margin: 0 auto;
  border: 2px solid white;
  border-left-color: transparent;
  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (height <= 620px) {  
  .modalContent {
    gap: 19px;  
  }
}