@font-face {
  src: url(../../fonts/SuisseIntl-Book.woff);
  font-family: 'Suisse';
  font-weight: normal;
}

@font-face {
  src: url(../../fonts/SuisseIntl-Bold.woff);
  font-family: 'Suisse';
  font-weight: bold;
}


.app-container {
  background-color: #323131;

  height: 100svh;
  width:100%;
  padding: 5% 5%;
  font-family: 'Suisse';
  box-sizing: border-box;
  color: white;
  -webkit-tap-highlight-color: transparent;
  overflow: clip;
}

@media (max-height: 620px) {
  .app-container{ 
    padding: 1% 3%;
  }
}
