.functionalArea {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.headerArea {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.logoArea {
  font-weight: bold;
  font-size: 35px;
}

.lable {  
  color: white;
  font-size: 18px;
  position: absolute;
  top: 45px;
  left: 123px;
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  justify-content: center;
}

.topButtons {
  display: flex;
  gap: 2vh;
}

.bottomButtons {
  display: flex;
  gap: 2vh;
}

.button {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Suisse';
  font-weight: bold;

  color: white;
  font-size: 15px;

  height: 30px;
  width: 114px;

  background-color: #323131;
  border: 1px solid white;
  border-radius: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 3px;
}

.button_audioButton {
  width: 100%;
}

.button:active {
  border: 1px solid grey;
  color: grey;
}

.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Suisse';
  font-weight: bold;
  font-size: 34px;
  gap: 30px;
  padding-top: 150px;
}