.functionalArea {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  justify-content: space-around;
  padding-top: 15vh;
}

.buttonsWrapper {
  display: flex;
  gap: 3vh;
  justify-content: center;
}

.button {
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 16px;

  height: 60px;
  width: 60px;

  background-color: #323131;
  border: 1px solid white;
  border-radius: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button:active {
  border: 1px solid grey;
  color: grey;
}

.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Suisse';
  font-weight: bold;
  font-size: 50px;
  gap: 30px;
}