/* .functionalArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
} */

.headerArea {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 30vw;
  min-width: 300px;
  cursor: pointer;
}

.logoArea {
  font-weight: bold;
  font-size: 35px;
}

.lable {
  position: absolute;
  top: 45px;
  left: 123px;  
  color: white;
  font-size: 18px;
}

.settingButton {
  display: flex;
  justify-content: center;
  align-items:center;
  width: 10px;
  height: 10px;
  padding: 10px;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 50px;
  cursor: pointer;  
}


@media (height <= 620px) {
  .functionalArea {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .headerArea {
    flex-direction: column;
    justify-content: space-between;
    align-self: start;
    min-width: 226px;
    height: 100%;
  }
}
