.mdContainer {
    width: 100%;
    max-width: 46vh;
    min-height: 7vh;
    max-height: 50vh;
    padding: 0 10px;
    overflow-y: scroll;
    color: white;
}



.mdContainer + div {
    width: 100%;
}

.mdContainer h1 {
    font-size: 20px;
    text-align: center;
}

@media (orientation: landscape) and (any-hover: none) {
    .mdContainer {
        max-width: 100%;
    }
}

@media (any-hover: hover) {
    .mdContainer::-webkit-scrollbar { 
        width: 0; 
    }
}

