.hintContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 18px;
}

.hintText {
    padding: 0 5px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}