.searchContainer {
    width: 30vw;
    min-width: 300px;
    height: 85%;
    animation-name: slide;
    animation-duration: 200ms;
} 

.label {
    display:flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 10px;
    padding: 15px 20px;
    font-weight: bold;
    font-size: 22px;
    border: 1px solid white;
    border-radius: 10px;   
}

.input {
    padding-left: 5px;
    color: white;
    font-size: 18px;
    background-color: #323131;
    border: 1px solid white;
    border-radius: 8px;
}

@keyframes slide {
    from {
        transform: translateX(15%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}