.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100svh;
  padding: 5%;
  overflow: clip;
  color: white;
  font-family: 'Suisse', sans-serif;
  background-color: #323131;
}

.welcomeContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  padding-top: 20px;
  overflow: auto;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Suisse', sans-serif;
}

h1,
h2 {
  align-self: center;
}

.linkword {
  color: rgb(161 158 214);
  text-decoration: underline;
  cursor: pointer;
}

@media (height <= 620px) {
  .welcomeContainer {
    gap: 10px;
    padding-top: 10px;
    font-size: 11px;
  }
}
